.message {
    display: flex;
    justify-content: flex-end;
}

.imageAndText {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.text {
    background-color: #3498db;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.text:after {

}

.name {
    font-weight: bold;
}

.messageText {

}

.time {
margin-left: 8px;
}